---
import PageLayout from '../layouts/_page.astro';

interface Game {
  title: string;
  image: string;
  isFeatured: boolean;
  isDirection: boolean;
  url: string;
  role?: string;
  release: string;
  platform: string;
  genre: string;
}

const games: Game[] = [
  {
    title: 'Recolit',
    image: 'recolit.png',
    isFeatured: true,
    isDirection: true,
    url: '/recolit/',
    release: '2024.2.16',
    genre: 'アドベンチャー',
    platform: 'Steam, Nintendo Switch, itch.io, BOOTH',
  },
  {
    title: 'わだつみのこだま',
    image: 'resonance_of_the_ocean.png',
    isFeatured: true,
    isDirection: true,
    url: 'https://store.steampowered.com/app/2057080/_/',
    release: '2022.7.9',
    genre: 'アドベンチャー',
    platform: 'Steam, itch.io, BOOTH',
  },
  {
    title: 'トルービズの秘薬師',
    image: 'trubiz.png',
    isFeatured: true,
    isDirection: false,
    role: 'グラフィック担当',
    url: 'https://store.steampowered.com/app/4083190/_/',
    release: '2025.11.6',
    genre: 'パズル',
    platform: 'Steam',
  },
  {
    title: 'ステラーコード',
    image: 'stellar_code.png',
    isFeatured: true,
    isDirection: false,
    role: 'アートディレクション担当',
    url: 'https://store.steampowered.com/app/3411510/_/',
    release: '2025.8.15',
    genre: 'ビジュアルノベル',
    platform: 'Steam, DLSite, BOOTH',
  },
  {
    title: 'イハナシの魔女',
    image: 'ihanashi.png',
    isFeatured: true,
    isDirection: false,
    role: 'グラフィック担当',
    url: 'https://fragaria.info/ihanashi/',
    release: '2022.8.20',
    genre: 'ビジュアルノベル',
    platform: 'Steam, Nintendo Switch, Playstation, Xbox',
  },
];
---

<style lang="scss">
  .game-list {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1.2rem;
    margin-bottom: 3rem;
    text-align: left;
    &-content {
      width: 300px;
      img {
        border-radius: 8px;
      }
    }
    &-title {
      font-weight: bold;
      font-size: 1rem;
      margin: 0.3rem 0;
    }
    &-info {
      font-size: 0.75rem;
      line-height: 1.2rem;
    }
  }
</style>

<PageLayout title="Games">
  <div>
    <h2>Direction</h2>
    <div class="game-list">
      {
        games
          .filter((game) => game.isFeatured && game.isDirection)
          .map((game) => (
            <article class="game-list-content">
              <a href={game.url}>
                <img src={'/assets/image/game/' + game.image} />
              </a>
              <div class="game-list-title">{game.title}</div>
              <div class="game-list-info">{[game.release, game.genre, game.platform].join(' / ')}</div>
            </article>
          ))
      }
    </div>
    <h2>Collaborative</h2>
    <div class="game-list">
      {
        games
          .filter((game) => game.isFeatured && !game.isDirection)
          .map((game) => (
            <article class="game-list-content">
              <a href={game.url}>
                <img src={'/assets/image/game/' + game.image} />
              </a>
              <div class="game-list-title">{game.title}</div>
              <div class="game-list-info">{[game.release, game.genre, game.platform, game.role].join(' / ')}</div>
            </article>
          ))
      }
    </div>
    <h2>Other</h2>
    <h3>Direction</h3>
    <div class="game-list">
      {
        games
          .filter((game) => !game.isFeatured && game.isDirection)
          .map((game) => (
            <article>
              <img src={'/assets/image/game/' + game.image} />
              <div>{game.title}</div>
              {/* <div>{game.description}</div> */}
            </article>
          ))
      }
    </div>
    <h3>Collaborative</h3>
    <div class="game-list">
      {
        games
          .filter((game) => !game.isFeatured && !game.isDirection)
          .map((game) => (
            <article>
              <img src={'/assets/image/game/' + game.image} />
              <div>{game.title}</div>
              {/* <div>{game.description}</div> */}
            </article>
          ))
      }
    </div>

    ## Featured ### Original - Recolit（2024） - わだつみのこだま（2022） ### Collaborative - ステラーコード（2025） -
    トルービズの秘薬師（2025） - イハナシの魔女（2022） ## More ### Original - かえすコトの葉もなし（2024） - Daily pet
    simulator（2023） - 春はやってこない（2020） ### Collaborative - ねこの惑星（2024） - Electrogical（2024） -
    さかだちの街（2022） - コーヒーの香り、それから（2023） - 送電塔の上で、また会おう（2020） -
    しょくもつれんさ・どうぶつえん（2020）
  </div>
</PageLayout>
