---
import type { ImageMetadata } from 'astro';
import PageLayout from '../layouts/_page.astro';

import { illustrations } from '../data/illustrations';

const pMatches = import.meta.glob<{ default: ImageMetadata }>('../assets/image/illustration/personal/*.{png,jpg}', {
  eager: true,
});
const cMatches = import.meta.glob<{ default: ImageMetadata }>('../assets/image/illustration/commissioned/*.{png,jpg}', {
  eager: true,
});
const [personalImages, commissionedImages] = [pMatches, cMatches].map((matches) =>
  Object.entries(matches).sort(([pathA], [pathB]) => {
    return PathToName(pathB).localeCompare(PathToName(pathA), 'en');
  })
);

function PathToName(path: string): string {
  return path.split('/').pop()!.split('.').slice(0, -1).join('.');
}
function PathToDisplayDate(path: string): string {
  return PathToName(path).replace(/^(\d{4})(\d{2})(\d{2})$/, (_, y, m, d) => `${y}.${Number(m)}.${Number(d)}`);
}
---

<style lang="scss">
  .image-list {
    --width: 300px;
    --title-size: 1rem;
    --title-margin: 0.5rem 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
    margin-bottom: 2.5rem;
    text-align: left;
    line-height: 1.6;

    &-content {
      width: var(--width);
      img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: var(--radius-default);
      }
    }
    &-description {
      margin: var(--title-margin);
    }
    &-info {
      font-size: 0.75rem;
    }

    &--small {
      --width: 160px;
      --title-size: 0.9rem;
      --title-margin: 0.4rem 0;
    }
    &--small img {
      aspect-ratio: 4 / 3;
    }
  }

  .more-links {
    font-size: 1rem;
  }
</style>

<PageLayout title="Illustrations">
  <h2>Personal</h2>
  <ul class="image-list image-list--small">
    {
      personalImages.map(([path, component]) => (
        <li class="image-list-content">
          <img src={component.default.src} alt={path.split('/').pop()} />
          <div class="image-list-info">{PathToDisplayDate(path)}</div>
        </li>
      ))
    }
  </ul>
  <h2>Commissioned</h2>
  <ul class="image-list">
    {
      illustrations.map((illustration) => (
        <li class="image-list-content">
          <img src={cMatches['../assets/image/illustration/commissioned/' + illustration.image].default.src} />
          <div class="image-list-description">
            {illustration.description}
            <br />
            <a href={illustration.url}>{illustration.url}</a>
          </div>
          <div class="image-list-info">{illustration.publishDate}</div>
        </li>
      ))
    }
  </ul>
  <h2>More</h2>
  <ul class="more-links">
    <li><a href="https://uimss.tumblr.com/">Personal</a></li>
    <li><a href="https://uimss-works.tumblr.com/">Commissioned</a></li>
  </ul>
</PageLayout>
