---
import type { ImageMetadata } from 'astro';
import PageLayout from '../layouts/_page.astro';

import { illustrations } from '../data/illustrations';

const personalImageDict = import.meta.glob<{ default: ImageMetadata }>(
  '../assets/image/illustration/personal/*.{png,jpg}',
  {
    eager: true,
  }
);
const commissionedImageDict = import.meta.glob<{ default: ImageMetadata }>(
  '../assets/image/illustration/commissioned/*.{png,jpg}',
  {
    eager: true,
  }
);
const personalImages = Object.entries(personalImageDict)
  .sort(([pathA], [pathB]) => PathToName(pathB).localeCompare(PathToName(pathA), 'en'));

function PathToName(path: string): string {
  return path.split('/').pop()!.split('.').slice(0, -1).join('.');
}
function NameToDisplayDate(name: string): string {
  return name.replace(/^(\d{4})(\d{2})(\d{2})$/, (_, y, m, d) => `${y}.${Number(m)}.${Number(d)}`);
}
function GetCommissionedImage(filename: string): string {
  return commissionedImageDict['../assets/image/illustration/commissioned/' + filename].default.src;
}
---

<PageLayout title="Illustrations">
  <h2>Personal</h2>
  <ul class="image-list image-list--small">
    {
      personalImages.map(([path, component]) => {
        const name = PathToName(path);
        return <li class="image-list-content">
          <img src={component.default.src} alt={name} onclick={`showModal('modal-personal-${name}')`} />
          <div class="image-list-info">{NameToDisplayDate(name)}</div>
        </li>
        <div id={"modal-personal-" + name} hidden>
          <img class="modal-image" src={component.default.src} alt={name} />
        </div>;
      })
    }
  </ul>
  <h2>Commissioned</h2>
  <ul class="image-list">
    {
      illustrations.map(illustration => {
        const name = illustration.image.split(".")[0];
        return <li class="image-list-content">
          <img src={GetCommissionedImage(illustration.image)} onclick={`showModal('modal-commissioned-${name}')`} />
          <div class="image-list-description">
            <div>{illustration.description}</div>
            <a href={illustration.url}>{illustration.url}</a>
          </div>
          <div class="image-list-info">{illustration.publishDate}</div>
        </li>
        <div id={"modal-commissioned-" + name} hidden>
          <img class="modal-image" src={GetCommissionedImage(illustration.image)} alt={name} />
        </div>;
      })
    }
  </ul>
  <h2>More</h2>
  <ul class="more-links">
    <li><a href="https://uimss.tumblr.com/">Personal</a></li>
    <li><a href="https://uimss-works.tumblr.com/">Commissioned</a></li>
  </ul>
</PageLayout>

<style lang="scss">
  .image-list {
    --width: 300px;
    --title-size: 1rem;
    --title-margin: 0.5rem 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
    margin-bottom: 2.5rem;
    text-align: left;
    line-height: 1.6;

    &-content {
      width: var(--width);
      img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: var(--radius-default);

        &:hover {
          cursor: pointer;
          opacity: 0.9;
          filter:brightness(1.1);
        }
      }
    }

    &--small {
      --width: 160px;
      --title-size: 0.9rem;
      --title-margin: 0.4rem 0;
    }

    &--small &-content img {
      aspect-ratio: 4 / 3;
    }

    &-description {
      margin: var(--title-margin);
    }

    &-info {
      margin: var(--title-margin);
      margin-bottom: 0;
      font-size: 0.75rem;
    }
  }

  .more-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    a {
      display: block;
      width: 200px;
      font-size: 1rem;
      border: 1px solid;
      border-radius: var(--radius-max);
      padding: 0.3rem 0;
    }
  }
</style>