---
import { Game } from '../data/games';
const gameImages = import.meta.glob<{ default: ImageMetadata }>('../assets/image/game/*.{png,jpg}', {
  eager: true,
});

interface Props {
  games: Game[];
  isSmall?: Boolean;
}

const { games, isSmall = false } = Astro.props;

function GetGameImage(filename: string): string {
  return gameImages['../assets/image/game/' + filename].default.src;
}
---

<style lang="scss">
  .game-list {
    --width: 300px;
    --title-size: 1rem;
    --title-margin: 0.5rem 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
    margin-bottom: 2.5rem;
    text-align: left;
    line-height: 1.6;

    &-content {
      width: var(--width);
      img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: var(--radius-default);

        &:hover {
          cursor: pointer;
          opacity: 0.9;
          filter: brightness(1.1);
        }
      }
    }

    &--small {
      --width: 160px;
      --title-size: 0.9rem;
      --title-margin: 0.4rem 0;
    }

    &--small &-content img {
      aspect-ratio: 4 / 3;
    }

    &-title {
      font-weight: bold;
      font-size: var(--title-size);
      margin: var(--title-margin);

      a {
        color: var(--text-color);
        &:hover {
          color: var(--link-hover-color);
        }
      }
    }

    &-info {
      font-size: 0.75rem;
    }

    @media screen and (max-width: 600px) {
      --width: calc(100% - 1rem);

      &--small {
        --width: calc((100% - 2rem) / 2);
      }
    }
  }
</style>

<div class:list={['game-list', { 'game-list--small': isSmall }]}>
  {
    games.map(game => (
      <article class="game-list-content">
        <a href={game.url}>
          <img src={GetGameImage(game.image)} />
        </a>
        <div class="game-list-title">
          <a href={game.url}>{game.title}</a>
        </div>
        <div class="game-list-info">
          {game.role && <div>{game.role}</div>}
          {[game.publishDate, game.genre, game.platform].filter(param => param != null).join(' / ')}
        </div>
      </article>
    ))
  }
</div>
